.App {
  text-align: center;
  /* Pop up */
  overflow: hidden;
  overflow-x: hidden;

  position: relative;
  white-space: nowrap;
  width: 450px;
  height: 760px;
  background: linear-gradient(165.65deg, #051452 45.04%, rgba(79, 209, 217, 0.68) 81.92%);
  color:white;

  font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 27px;
/* identical to box height */

letter-spacing: -0.02em;

color: #FFFFFF;
}

.App-logo {
  
position: absolute;
width: 50px;
height: 50px;
left: 48px;
top: 48px;

}

.App-logo2 {
  
  position: absolute;
left: 340px;
top: 46px;

  }
@import url('https://fonts.googleapis.com/css2?family=Corinthia&family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-5px); }
}
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-5px); }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    -webkit-animation: mover 1.8s infinite  alternate;
    animation: mover  1.8s infinite  alternate;
    -webkit-animation: mover  1.8s infinite  alternate;
    animation: mover  1.8s infinite  alternate;
  }
}

.App-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: white;
  padding-top: 48px;
}

.container {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  width: 42px;
  height: 31px;
  left: 360px;
  top: 54px;


}
.rounded-rectangle {
  background: #FFFFFF;
  border-radius: 20px;
  width: 256px;
  height: 39px;
  border: 1px solid #FFFFFF;
}

.bar1, .bar2, .bar3 {
  width: 48px;
  height: 6px;
  margin: 8px 0;
  transition: 0.4s;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 10px 9px rgba(0, 0, 0, 0.25);
}
.VectorBG {
  z-index: -1;
  position: absolute;
  left: -92px;
  top: 550.73px;
  white-space: nowrap;
  overflow: hidden;
  overflow-x: hidden;
}

.VectorBG img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
