html, body {
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  overflow-x: hidden;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.MainPage {
  padding-top: 100px;
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 32px;
text-align: center;
text-transform: uppercase;

color: #FFFFFF;

text-shadow: 0px 9px 9px rgba(0, 0, 0, 0.25);
}